<!Doctype html>
<html>
<head>
	<title></title>
	<style>
	div {
	color:black;
	text-align:left;
	padding-left:50px;
	margin-bottom:30px;
	font-size:15px;
	font-family:calibri;
	}
	</style>
</head>
<body> 
	<header style="color:red;font-size:30px;font-family:calibri;text-align: center;">
				<b>Top 5 Question & Answers</b>
		</div>
		</header>
		<p style="color:red;font-size:30px;font-family:calibri;text-align: center;margin-bottom:20px;margin-top:0px;"><b>Search Query:  {{searchquery}} </b></p>
		<table border =1>
		<THEAD>
		<TR><TH>Question <TH>Answer <TH> Score

		<TBODY>
		<tr>
		<td>{{Q1}} </td>
		<td>{{A1}}</td>
		<td>{{S1}}</td>
		</tr>
		<tr>
		<td>{{Q2}} </td>
		<td>{{A2}}</td>
		<td>{{S2}}</td>
		</tr>
		<tr>
		<td>{{Q3}} </td>
		<td>{{A3}}</td>
		<td>{{S3}}</td>
		</tr>
		<tr>
		<td>{{Q4}} </td>
		<td>{{A4}}</td>
		<td>{{S4}}</td>
		</tr>
		<tr>
		<td>{{Q5}} </td>
		<td>{{A5}}</td>
		<td>{{S5}}</td>
		</tr>
		
		
		
		</table>
</body>
</html>
